{
    "useTabs": false,
    "tabWidth": 2,
    "semi": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleQuote": true,
    "printWidth": 100,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "vueIndentScriptAndStyle": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            }
        }
    ]
}