@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

  :root {
    --primary-color: #39ccfb;
    --secondary-color: #34d399;
  }
}

@layer components {
  .input-label {
    @apply mb-1 text-sm font-medium leading-5 text-gray-900;
  }
  .input-field {
    @apply block w-full rounded-md border border-gray-300 px-3 py-3 text-sm font-normal leading-5 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm;
  }
  .icon {
    @apply flex h-4 w-4 items-center justify-center text-black;
  }

  .btn {
    @apply inline-flex cursor-pointer items-center justify-center rounded-md border border-transparent px-3 py-2 text-sm font-medium leading-5 shadow hover:opacity-80 hover:shadow-md active:opacity-80;
  }

  .btn-blue {
    @apply bg-blue-400 text-white;
  }
  .debug {
    @apply [&>*]:border-2 [&>*]:border-red-500; /* debug class will be removed on production build */
  }
  .active {
    @apply bg-blue-50 transition-all duration-200 ease-in-out;
  }

  .auth-input-field {
    @apply relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-sm font-normal leading-5 text-gray-400 placeholder-gray-300 focus:z-10 focus:border-[--secondary-color] focus:outline-none focus:ring-[--secondary-color];
  }

  .auth-input-label {
    @apply block text-sm font-medium leading-5 text-gray-700;
  }
  .auth-button {
    @apply relative mx-auto flex justify-center rounded-full border border-transparent bg-[--primary-color] px-4 py-2 text-sm font-medium text-white hover:bg-[--secondary-color];
  }

  .subgrid {
    @apply grid grid-rows-subgrid;
  }
}

/* Overide CodeMirror styles */
.cm-s-ar .CodeMirror-rtl {
  font-family: 'Amiri', serif;
  font-size: 20px;
}
.cm-s-fa .CodeMirror-rtl {
  font-family: 'Amiri', serif;
  font-size: 20px;
}

/* Scale down the header sizes */
.cm-s-easymde .cm-header-1 {
  font-size: calc(1.35rem) !important;
}
.cm-s-easymde .cm-header-2 {
  font-size: calc(1.25rem) !important;
}
.cm-s-easymde .cm-header-3 {
  font-size: calc(1.15rem) !important;
}
.cm-s-easymde .cm-header-4 {
  font-size: calc(1.05rem) !important;
}
.cm-s-easymde .cm-header-5 {
  font-size: calc(1rem) !important;
}

/* No markup styles */
.no-markup .cm-s-easymde .cm-header {
  font-size: inherit !important;
}
.no-markup .cm-header,
.no-markup .cm-strong {
  font-weight: inherit !important;
}
.no-markup .cm-em {
  font-style: inherit !important;
}
.no-markup .cm-link,
.no-markup .cm-url {
  text-decoration: inherit !important;
  color: inherit !important;
}